*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body{
    background-color: white;
    border-left: 150px solid #f2f2f2;
    border-right: 150px solid #f2f2f2;
}

h1{
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: rgb(18, 48, 114);
    background-size: 300px 100px;
    background-repeat: no-repeat;
    border-color: #89DEEF;
    /* color: white; */
    text-align: left;
    align-items: left;
    padding: 50px 0px 50px 80px;
    border-bottom: #89deef solid 3px;
}

header{width:100%;
}


h2{font-family: 'open sans';
    color:black;
    font-weight: bold;
    padding: 25px 40px 0px 80px;

}

.blurb{
    font-family: open sans;
    font-size: 20px;
    padding: 25px 40px 0px 80px;
}

h4{
    font-family: oswald;
    font-size: larger;
    padding-top: 10px 0px 10px 0px;
}

.dog-info {
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-items: space-around;
    
}

li{
    font-family: 'Open Sans';
    font-size: 15px;
    display: inline-flex;
    padding: 3px;
    margin: 3px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items: space-evenly;
    border-radius: 50px;
    background-color: #89deef;
    background-size: contain;
    background-repeat: no-repeat;
    word-wrap: normal;
}


/* ul{
    list-style-type: none;
    display: inline-block;
} */



div{
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 10px;
    width: 335px;
}


img{
    width: 350px;
}



.container{
    width: 1000px;
    height: 250px;
    display: flex;
    /* flex: 55%;
    padding: 0px;
    

    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row; */


    
}



.DONATE {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 30px;
    color:white;

    width:1000px;
    height: 235px;

    background: linear-gradient(
        rgba(166, 169, 240, 0.6),
        rgba(166, 169, 240, 0.6)
    ),
    url("starter_files/images/donate.jpg");

    background-repeat: no-repeat;
    background-size: 100%;
    
}
.VOLUNTEER {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 30px;
    color: white;

    width: 1000px;
    height: 235px;

    background: linear-gradient(
        rgba(166, 169, 240, 0.6),
        rgba(166, 169, 240, 0.6)
    ),
    url("starter_files/images/volunteer.jpg");
    
    background-repeat: no-repeat;
    background-size: 125%;
    

}
.LOCATION {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 30px;
    color: white;

    width: 1000px;
    height: 235px;

    background: linear-gradient(
        rgba(166, 169, 240, 0.6),
        rgba(166, 169, 240, 0.6)
    ),
    url("starter_files/images/location.png");
    
    background-repeat: no-repeat;
    background-size: 100%;
}










