
* {background-color: rgb(255, 255, 255);}
h1 {background-color: #023e8a;
    background-size: 300px 100px;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 25px;
    border-bottom: #4cc9f0 20px;
}



